/* "*"Para aplicar estilo general a toda la página"
*{
margin:0;
padding:0;
}
*/

/*Id de CSS: Para aplicar estilo a un elemento individual*/
#titulo_individual{
    color:fuchsia;
    text-align: center;
    margin:15px;
}

h2{
    color:blue;  
}

p{
    color:crimson;
}

/*Clase de CSS: Se crea para aplicar los estilos solo en donde queramos*/
.tarjeta{ 
border: 10px solid #560bad;
background-color: aquamarine;
text-align: center;
margin:15px 100px;
padding:15px;

}

.titulo1{
    color:green;
}