h1{
    color:#f07167;
}

/*Links que aun no hemos dado click(Default)*/
a:link{
    color:#fb8500;
    text-decoration: none;
}

/*Links que ya hemos dado click(Visited)*/
a:visited{
    color:darkblue;
    text-decoration: none;
}
/*Cuando nos ponemos encima del link(hover)*/
a:hover{
    color:aqua;
    text-decoration: underline;
}
/* Cuando estamos dando click en el link(active)*/
a:active{
    color:crimson;
    text-decoration: none;
}

